.homepage-container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: space-between;

    & .right-banner {
        height: 100%;
    }

    & .left-side {
        flex-grow: 1;
    }
}

.left-side-content {
    margin-top: 16vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & h1 {
        line-height: 1;
        font-size: 9rem;
        font-style: italic !important;
        font-weight: bolder;
        text-transform: uppercase;
        font-family: var(--signika-font);
    }

    & h6 {
        font-weight: 600;
    }

    & .search-bar {
        margin-top: 24px;
        position: relative;
    }
}

.left-side-nav {
    margin-top: 12vh;
    display: flex;
    flex-direction: column;
    gap: 32px;

    & .nav-item {
        font-size: 1.375rem;
        font-weight: 600;
        background-position: right, left;
        background-repeat: no-repeat, repeat-x;
        background-size: auto 100%;
        height: 50px;
        padding-right: 120px;
        padding-left: 24px;
        display: inline-flex;
        align-items: center;
    }
}

.result-search-container {
    width: 100%;
    position: absolute;
    border-radius: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    overflow-x: hidden;

    & .result-search-content {
        overflow-y: scroll;
        max-height: 36vh;
        padding: 0;
    }
}
